body {
  font-family: "Cormorant Garamond", serif;
  background-color: #dadbe0;
}
h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}
h2 {
  color: #858585;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}
h3 {
  font-size: 30px;
  font-weight: 400;
  color: 565656;
  text-align: center;
}
.content {
  margin-left: 90px;
  background-image: url("https://images.pexels.com/photos/6913376/pexels-photo-6913376.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  width: 1120px;
}
.col-6 {
  margin-top: 80px;
  margin-bottom: 180px;
}
#learn-more {
  color: black;
  padding: 10px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #adbed2;
  border: 2px solid #adbed2;
  text-decoration: none;
}
i {
  margin-top: 25px;
  margin-left: 235px;
  font-size: 30px;
  margin-bottom: 25px;
}
